html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0
}

#container{
    padding:0;
}

@media screen and (max-width: 768px) {
    #sidebar-container{
        z-index: 3;
        margin-top: 28px;
    }

    #sidebar{
        border-radius: 5px;
    }

    #sidebar-button{
        z-index: 4;
        margin: 0;
        padding:0;
    }
    #site-tittle{
        margin-top: 0;
    }
    #buttontoggle{
        margin: 0;
    }
}

#body-container, #sidebar-container{
    padding:0;
    height: 100%;
}

#sidebar{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #EEEEEE;
    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,1);
}

#content-container{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#sidebar, #content{
    margin:0;
    padding: 0; 
    width: 100%;
}
img{
    vertical-align: middle;
}

#profileinfo{
    border-bottom: #C3C3C3 ridge thin;
    border-top: #C3C3C3 ridge thin;
}

#register-button{
    margin-top: 5px;
}

#delete-earning{
    margin: 0;
}

#table-container{
    padding: 0;
}