html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0
}

#container{
    padding:0;
}

#body-container, #sidebar-container{
    padding:0;
    height: 100%;
}

#sidebar{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #EEEEEE;
}

#content-container{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#sidebar, #content{
    margin:0;
    padding: 0; 
    width: 100%;
}
img{
    vertical-align: middle;
}

#profileinfo{
    border-bottom: #C3C3C3 ridge thin;
    border-top: #C3C3C3 ridge thin;
    //box-shadow: 0px 1px 0px 10px #C3C3C3;
}